apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: "{{ .Values.appName }}-servicemonitor"
  namespace: argocd
  labels:
    release: prometheus
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: metrics
  selector:
    matchLabels:
      app: "{{ .Values.appName }}"
  namespaceSelector:
    matchNames:
      - argocd