apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.appName }}-servicemonitor
  namespace: argocd
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  namespaceSelector:
    matchNames:
      - argocd
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s