apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: capstoneteam1-avd2dagya7gjdhda.azurecr.io/flask-app-eni:latest
        ports:
        - containerPort: 8081
      imagePullSecrets:
      - name: acr-auth   # <-- Reference your ACR secret here

---
apiVersion: v1
kind: Service
metadata:
  name: flask-app
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081