apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: personalproject
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/EnitanM/CI-CD.git'
    targetRevision: main
    path: Week02/infra
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true